* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --black: #333333;
    
    --blue-500: #009FE3;
    --blue-700: #1A1D56;

    --red-500: #ad2424;
    --BTC: orange;
    --DOGE: rgb(233, 187, 101);
    --ETH: #1A1D56;
    --EUR: #009FE3;
    --USD: green;
    --CAD: rgb(105, 198, 105);
    --LTC: #161eaf;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-500)
}

body {
    background: #f1f6ff;
    -webkit-font-smoothin: antialiased;
}

body, input, textarea, button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}